:root {
  --blue: #4285f4;
  --blue-light: #8cd5ff;
  --green: #0d9d58;
  --green-light: #7de9d0;
  --red: #ea4334;
  --red-light: #ffaa9c;
  --yellow: #fcbc05;
  --yellow-light: #f2e877;
  --grey: #e0e0e0;
  --grey-dark: #212121;

  --font-header: "Montserrat", sans-serif;
  --font-body: Roboto;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.flex {
  display: flex;
}

.justifyCenter {
  justify-content: center;
}

.grid {
  display: grid;
}

.alignCenter {
  align-items: center;
}
.slick-dots {
  position: relative !important;
  bottom: 0 !important;
}
.slick-dots li button:before {
  font-family: "slick";
  font-size: 1.5rem !important;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: " " !important;
  text-align: center;
  opacity: 1 !important;
  color: var(--blue) !important;
  border: 2px solid var(--grey) !important;
  border-radius: 50% !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  background: var(--blue) !important;
}
