:root {
  --blue: #4285f4;
  --blue-light: #8cd5ff;
  --green: #0d9d58;
  --green-light: #7de9d0;
  --red: #ea4334;
  --red-light: #ffaa9c;
  --yellow: #fcbc05;
  --yellow-light: #f2e877;
  --grey: #676c72;
  --grey-dark: #212121;

  --font-header: "Montserrat", sans-serif;
  --font: Roboto;

  --sectionPadding: 1rem 4rem;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.flex {
  display: flex;
}

.justifyCenter {
  justify-content: center;
}

.grid {
  display: grid;
}

.alignCenter {
  align-items: center;
}
.slick-dots {
  position: relative !important;
  bottom: -1rem !important;
}
.slick-dots li button:before {
  font-size: 1.5rem !important;
  content: " " !important;
  opacity: 1 !important;
  color: var(--blue) !important;
  border: 2px solid var(--grey) !important;
  border-radius: 50% !important;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.6, 1);
}
.slick-dots li.slick-active button:before {
  background: var(--blue) !important;
}

p {
  font-family: Roboto;
}

h1 {
  font-family: var(--font-header);
}
